<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FilterSample</display-name>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Servlet1</display-name>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.nucleus.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CheckLogin</display-name>
    <filter-name>CheckLogin</filter-name>
    <filter-class>com.nucleus.CheckLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckLogin</filter-name>
    <url-pattern>/CheckLogin</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FilterTwo</display-name>
    <filter-name>FilterTwo</filter-name>
    <filter-class>com.nucleus.FilterTwo</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterTwo</filter-name>
    <url-pattern>/FilterTwo</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletThree</display-name>
    <servlet-name>ServletThree</servlet-name>
    <servlet-class>com.nucleus.ServletThree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletThree</servlet-name>
    <url-pattern>/ServletThree</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterParam</display-name>
    <filter-name>FilterParam</filter-name>
    <filter-class>com.nucleus.FilterParam</filter-class>
    <init-param>
    <param-name>username</param-name>
    <param-value>admin</param-value>
    </init-param>
      <init-param>
    <param-name>password</param-name>
    <param-value>admin</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FilterParam</filter-name>
    <url-pattern>/Servlet1</url-pattern>
  </filter-mapping>
</web-app>